<div class="app-container">

  <h1 class="app-title">{{title}}</h1>

  <router-outlet></router-outlet>

  <div class="app-btn-bar">
    <!-- <button routerLink="/login" type="button" class="btn btn-primary">Login</button> -->
    <button *ngIf="loggedIn$" routerLink="/fm" type="button" class="btn btn-info">FM</button>
    <button *ngIf="loggedIn$" routerLink="/deals" type="button" class="btn btn-info">Deals</button>
    <!-- <button *ngIf="loggedIn$" routerLink="" type="button" class="btn btn-primary">Logout</button> -->
  </div>
  
</div>
